name: Build and publish package and docs

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Install and build
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout repo
        uses: actions/checkout@v2

      -
        name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      -
        name: Install dependencies
        env:
          COMPAS_RRC_VER: v1.0.0
          RRC_USERNAME: ${{ secrets.rrc_username }}
          RRC_PASSWORD: ${{ secrets.rrc_password }}
        run: |
          python -m pip install --upgrade pip
          python -m pip install cython --install-option="--no-cython-compile"
          echo -e "Host bitbucket.org\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
          pip install git+https://"$RRC_USERNAME":"$RRC_PASSWORD"@bitbucket.org/ethrfl/compas_rrc.git@"$COMPAS_RRC_VER"#egg=compas_rrc
      -
        name: Install
        run: |
          python -m pip install --no-cache-dir -e .[dev]
          python -c "from setuptools_scm import get_version;get_version('.', write_to='src/compas_rcf/_version.py')"
      -
        name: Test
        run: |
          invoke test
      -
        name: Build
        run: |
          python setup.py clean --all sdist bdist_wheel
      -
        name: Build docs
        run: |
          invoke docs

  publish_docs:
    needs: build
    runs-on: ubuntu-latest
    steps:
      -
        name: Publish docs
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: build/docs

  publish_pypi:
    needs: build
    runs-on: ubuntu-latest
    steps:
      -
        name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
